@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
   
}
:root{
    --fonte01:verdana, Geneva, tahoma, sans-serif
    --fonte02:"Passion One", sans-serif; 
    --fonte03: "Sriracha", cursive;
        
      
      
}

html,body{
    padding: 0px 0px 3px 0px;
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}
header{
    background-color: black;
    color:white;
    text-align: center;
    font-family: "Passion One", sans-serif; 
}
header >h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size:10vw;
}
header >p{
    padding-bottom: 50px;
}
header a, footer a {
    color: #ffff;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}
section> p {
    padding-bottom: 2em;
}

section.normal {
    background-color: #ffff;
    color: black;
}

section.imagen{
   background-color: rgb(155, 160, 160);
    color: #ffff;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.616);
    background-attachment: fixed;
}
section.imagen >p{
    display: inline-block;
   background-color: rgba(54, 53, 53, 0.452);
   padding: 5px;
   text-shadow: 2px 1px 2px black;

}

footer{
    background-color: black;
    color: #ffff;
    text-align: center;
    padding: 15px;
 }
 footer>p{
    padding-bottom: 10px;
 }
 section#imagen01{background-image: url("../imagens/background001.jpg");
    background-position: right,center;
    background-size: cover;
 }
 section#imagen02{background-image: url("../imagens/background002.jpg");
background-size: cover;
 }