*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: rgb(188, 230, 230);
    text-align: center;
    
}
header>p{
    font-weight: bolder;
    font-size: 2em;
    padding-bottom: 40px;
    color: rgb(52, 39, 90);
   
}
h1{
    font-size: 3em;
    padding-top: 40px;
}
nav{
    padding: 10px;
    background-color: rgba(118, 141, 141, 0.473);
    border-radius: 0px 0px 5px 5px;
}
nav>a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    padding-left: 20px;
}
  
body{
    background-color: rgba(142, 248, 248, 0.568);
    height: 100vh;
}

img{ 
   padding-top: 5px;
background-position: center;
background-size: cover;
padding-left: 16%;
}
body>p{
    padding: 10px;
}
footer{
    text-align: center;
    padding: 5px;
    background-color: rgba(63, 102, 102, 0.61);
}