*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background:url("https://source.unsplash.com/1600x900/?landscape") ;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner{
width: 420px;
background: transparent;
border: 2px solid #9b9b9b;
backdrop-filter: blur(20px);
border-radius: 10px;
padding:30px 40px;
}

h1{
    font-size: 36px;
    text-align:center;
    color: #fff;
}

.input-conteiner{
    position: relative;
    width: 100%;
    height:50px ;
    margin:30px 0 ;
}

.input-conteiner input {
width: 100%;
height: 100%;
background: transparent;

outline:none ;
border-radius: 10px;
font-size: 16px;
color: #fff;
padding: 20px 45px 20px 20px;
}


.input-conteiner input::placeholder{
    color: #fff;

}
.input-conteiner img{
    position: absolute;
    right: 20px;
    top: 17px;

}

.input-conteiner a{
    font-size: 16px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

.input-conteiner a:hover{
    text-decoration: underline;
}

.submit-butom{
    width: 100%;
    height: 50px;
    background-color: rgb(99, 2, 145);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    margin: top 24px; ;
    cursor: pointer;
    outline:none ;
    font-size: 16px;
}


.submit-butom:hover{
    background-color: rgb(192, 93, 238);
}
.resister-link p {
font-size: 16px;
color: #fff;
font-weight: 300;
}
.resister-link p a{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.resister-link p a:hover{
text-decoration: underline;
}
.resister-link{
    text-align:center;
    margin:20px 0;
}